[submodule "rocksdb"]
        path = librocksdb_sys/rocksdb
	url = https://github.com/shawgerj/rocksdb-1.git
	branch = boulevardier
[submodule "librocksdb_sys/wotr"]
	path = librocksdb_sys/wotr
	url = https://github.com/shawgerj/wotr.git
